spring:
  application:
    name: graphql-train
  graphql:
    path: /api/graphql
  datasource:
    url: jdbc:h2:mem:test
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2
  sql:
    init:
      data-locations: classpath:sql/data.sql
      mode: always

logging:
  level:
    root: info
    org.belyaeva: debug