spring:
  application:
    name: graphql-train
  graphql:
    path: /api/graphql
  datasource:
    url: jdbc:h2:mem:test
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2

logging:
  level:
    root: info
    org.belyaeva: debug